*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.gameboard {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.cell.x::after,
.cell.x::before,
.cell.circle::before {
  background-color: black;
}

.gameboard.circle .cell:not(.x):not(.circle):hover::before {
  background-color: lightgrey;
}

.gameboard.x .cell:not(.x):not(.circle):hover::before,
.gameboard.x .cell:not(.x):not(.circle):hover::after {
  background-color: lightgrey;
}

.cell {
  position: relative;
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell.x::after,
.cell.x::before,
.gameboard.x .cell:not(.x):not(.circle):hover::before,
.gameboard.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  height: var(--mark-size);
  width: calc(var(--mark-size) * 0.15);
}

.cell.x::before,
.gameboard.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.gameboard.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::after,
.cell.circle::before,
.gameboard.circle .cell:not(.x):not(.circle):hover::after,
.gameboard.circle .cell:not(.x):not(.circle):hover::before {
  content: "";
  border-radius: 50%;
  position: absolute;
}

.cell.circle::before,
.gameboard.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::after,
.gameboard.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: white;
}

.winning-message {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
	background-color: rgba(0, 0, 0, 0.9);
	display: none;
	justify-content: center;
	align-items: center;
	color: white;
	flex-direction: column;
	font-size: 5rem;
}

.winning-message button{
	font-size: 3rem;
	cursor: pointer;
	border: 1px solid black;
	background-color: white;
}

.winning-message button:hover{
	background-color: black;
	color: white;
	border: 1px solid white;
}

.show{
	display: flex;
}
